streamlit
torch torchvision --index-url https://download.pytorch.org/whl/cpu
facenet-pytorch
opencv-python-headless
numpy
pandas
Pillow
scikit-learn
plotly
deepface
tf-keras
pip install --upgrade pip
